body{
    margin:0;
    padding:0;
    background-color: #C0C0C0;
}
.register{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: absolute; /* postulat de départ */
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}
.gauche{
    background-color:#B87A7A;
    width: 15vw;
}

.droit{
    background-color: white;
    width: 30vw;
}
.alignement{
    display: flex;
}
.nom{
    margin-right:5%;
}
.formulaire{
    margin-left: 5%;
    margin-right: 5%;
}
#button{
    background-color: #B87A7A;
    border:1px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 38px;
}